__pycache__/
*.py[cod]
*.egg-info/

dbt_project/dbt_venv/
.env

.DS_Store
Thumbs.db

Airflow/logs/
Airflow/airflow.db
Airflow/.env

Airflow/cleaned_sales_data.csv

Airflow/airflow.cfg

dbt_project/sales_dbt/target/
dbt_project/sales_dbt/dbt_packages/
dbt_project/sales_dbt/logs/

*.json.generated.*
simple_auth_manager_passwords.json.generated.*

.vscode/